*´{
    box-sizing: border-box;
}

body, main {
    /*border: 4px #011F26 solid;*/
    min-height: 50px;
    /*margin: 1.10rem;*/
}

body {
    background-color: #031418;    
}

html {
    font-size: 1rem;
    height: 100%;
}


footer, header {
min-height: 40%;
}


header {
font-family: 'Franklin Gothic Medium';
font-size: large;    
background: #ffff;
margin:0px 0px 10px 0px;
padding:0px;
border: 4px #2b2728 solid;


}

footer {
font-family: 'Franklin Gothic Medium';
font-size: large;    
background: #ffff;
border: 4px #2b2728 solid;
border-top:#031418;
margin: 0px 0px 10px 0px;
}






main>div {
    background-color: #ffff
    
}

 
.recuadro {
    background-color: #0e0105;
    min-height: 300px;
    margin: 2.16rem;
    font-family: "Helvetica Neue",'Franklin Gothic Medium';
    text-align: center;
    box-shadow:0 0 0.5rem #720933;
    padding:auto;
}
    

img {
    width: 100%;
    height: 100%;

    }


h1 {
    text-align: center;
    margin-bottom: 5px;
    color:#F2668B;
    font-family: "Helvetica Neue",'Franklin Gothic Medium';

}

h2 {
    color: #f7fbfc;
}

h3 {
    color:#110408;
    text-align: center;
}

p {
    color: #f9fafa;
    font-style: italic;
  
}
    
.negro{

    color:#110408;

}


.header-logo {
    height: 4%;
    display: inline-block;
  
        
}



.header-menubar {
   position:relative;
    top:auto;
    width: auto;
    display: inline-block;
    margin:0.5rem 0 0.5rem 1rem;
  
}   

.header-menubar ul {
    list-style: none;
    float:left;
    right: auto;
}

.header-menubar li {
    font-weight: 700; 
    float:left;
    margin: 0 0.5rem 0;
    padding-left: 80px;
}
.header-menubar a{
    text-decoration:none;
    color: black;

}

.header-menubar a:hover {
    color:#868a8a;
}




.icon {
    width:6%;
    height: 6%;
    padding-left: auto;
    margin-top: 5px;
    
}

.icon-instagram {
    width:2%;
    height: 2%;
    padding-left: 90%;

    
}

.email {
    font-style: normal;
    color:#011F26;
    font-family:"Helvetica Neue",'Franklin Gothic Medium';
    text-align: right;
    padding-right: 0.5%;
}

.radiocut {
    padding:auto;
}

.logo {
    width: 30%;
    height: 30%;
}




.cajas {
    background:#ffff;
    display:grid;
    grid-template-columns: repeat(3,400px);
    grid-gap:40px;
    padding: 10px 0px 10px 10px;
    border: 4px #2b2728 solid;
    
   
    

}

.cajas2 {
    background:#ffff;
    display:grid;
    grid-template-columns: repeat(3,400px);
    grid-gap:20px;
    padding: 0px 0px 0px -20px;
    border: 4px #2b2728 solid;
    

}

.caja {
    width: 100%;
    height: auto;
    background: #03A688;
    margin-left:10px;
    margin-right: 10px;
    min-width: 400px;
    padding: auto;
       
}

.caja2 {
    width:100%;
    background:#ffff;
    display:grid;
    grid-template-columns: repeat(3,400px);
    grid-gap:40px; 
    padding: 10px 0px 10px 10px;


}


.caja_blanca {
    width: auto;
    height: auto;
    background: #ffff;
    margin-left:auto;
    min-width: 400px;
    grid-auto-columns: minmax(1,3)       
}


